* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace; /* Use Source Code Pro for the entire site */
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Center all text */
}

header {
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1, header p {
    margin: 0; /* Remove default margin */
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    color: #666;
}

main {
    max-width: 1020px;
    margin: 40px auto;
    padding: 0 20px;
}

.blog-list {
    display: grid;
    grid-template-columns: 1fr; /* Single column for images */
    gap: 20px;
}

.blog-post {
    text-align: left; /* Align text to the left */
}

.blog-list a {
    display: flex;
    flex-direction: column; /* Stack title and image vertically */
    align-items: flex-start; /* Align items to the left */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Keep the color of text the same as parent */
}

/* Title and date styling */
.blog-list a p {
    margin-bottom: 5px; /* Space between date and image */
    font-size: 0.9rem; /* Smaller font size */
    color: #777; /* Lighter color for the date */
}

.blog-list a img {
    max-width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-list a img:hover {
    transform: scale(1.01); /* Zoom on hover */
}

/* Image title styling */
.image-title {
    text-align: left; /* Align the image title to the left */
    font-size: 0.9rem; /* Smaller font size */
    margin-top: 5px; /* Space between the image and title */
    color: #333; /* Title color */
}

footer {
    padding: 20px;
    font-size: 0.9rem;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

/* Font Classes */
.source-code-pro-light {
    font-family: "Source Code Pro", monospace;
    font-weight: 200; /* Light */
}

.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-weight: 400; /* Regular */
}

/* You can add more classes for different weights if needed */
.source-code-pro-medium {
    font-family: "Source Code Pro", monospace;
    font-weight: 500; /* Medium */
}

.source-code-pro-bold {
    font-family: "Source Code Pro", monospace;
    font-weight: 700; /* Bold */
}

footer {
    padding: 20px;
    background-color: #333;
    text-align: center;
    color: #fff;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links a {
    color: inherit;
    transition: color 0.3s ease-in-out; /* Add a smooth color transition effect */
}

.footer-links a:hover {
    color: #ccc; /* Change the link color on hover */
}

footer a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Maintain white color on hover */
}

footer a:hover, footer a:active, footer a:focus {
    text-decoration: none; /* No underline on hover/active/focus */
    color: #fff; /* No color change on hover/active/focus */
}

.map-container {
    position: relative;
  }
  
  .map-image {
    width: 100%;
    height: auto;
  }
  
  .location-map {
    max-width: 1000px; /* adjust this value as needed */
    margin: 0 auto;
  }